.title {
    font-family: 'Roboto', sans-serif;
}

.body {
    margin: 0;
    width:100%;
}

.wrapper {
    margin:auto;
    width: 80%;
}

.header{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logotype{
    width: 190px;
    height: 35px;
    background: url('img/logo.svg');
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    position: relative;
    margin-right: 26px;
    font: 500 18px/21px bold Roboto,arial,helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
}

.menu__item:last-child {
   margin-right: 0; 
}

.menu__item_active:after {
    position: absolute;
    display: block;
    content:'';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s;
}

.menu__item:hover {
    opacity: 0.5;
}

.menu__item:hover:after, .menu__item_active:after{
    opacity: 1;
}

#menu__toggle {
    opacity: 0;
  }

.main {
    padding: 0 63% 100px 0;
    background: top right no-repeat url(img/Fraame.svg);
}

.main__title {
    margin: 0 0 40px 0;
    font: bold 50px/65px 'pt_serifbold', arial, helvetica,sans-serif;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.main__title:hover {
    font-size: 60px;
}

.main_title-text_highlight {
    background: #ECF3FF;
}

.main__subtitle{
    margin: 0 0 41px 0;
    font: 18px/21px bold Roboto, arial, helvetica,sans-serif;
}

.main__button {
    display: inline-block;
    font: 14px/16px Roboto,arial,helvetica,sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
    width: 11em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end);
    animation: type 3s steps(50, end);
}
@keyframes type{
    from { width: 0; }
}
 
@-webkit-keyframes type{
    from { width: 0; }
}

.main__button:hover {
    opacity: .5;
}

@media(max-width:768px) {
    .menu {
        display: none;
    }

    .wrapper {
        width: 92%;
    }

    .header {
        margin-bottom: 27px;
        padding: 16px 0px;
    }

    .logotype {
        width: 36px;
        height: 35px;
    }

    .main {
        text-align: center;
        padding: 74% 0 0;
        background-size: 74%;
        background-position: top center;
    }

    .main__title {
        margin-bottom: 44px;
        font: bold 30px/39px 'pt_serifbold',arial, helvetica, sans-serif;
        margin: 0 0 40px 0;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
    }

    .main__title:hover {
        font-size: 35px;
    }

    .main__subtitle {
        margin: -2px 45px 30px 44px;
        font: 500 16px/18px Roboto, arial, helvetica, sans-serif;
        text-align: center;
    }

    .main__button {
        font: 500 15px/13px Roboto, arial, helvetica, sans-serif;
        padding: 14px 16px;
    }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu {
        visibility: visible;
        left: 0;
        width: 100%;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 28px;
        right: 24px;
        
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #0056EC;
        transition-duration: .25s;
      }

      .menu__btn > span::before {
        content: '';
        top: -8px;
      }

      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 148px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 8px 16px;
        color: #333;
        font-family: bold 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        margin-right: 0px;
        margin-top: 26px;
        transition-duration: .25s;
      }

      .menu__item_active::after {
          display: none;
      }
}

@media(min-width:1024px) {
    .wrapper {
        width: 92%;
    }
    
    .header {
        padding: 31px 0px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 105px;
    }
    
    .menu__item {
        position: relative;
        margin-right: 27px;
        font: 500 14px/1px bold Roboto,arial,helvetica, sans-serif;
        color: #000;
        text-decoration: none;
        transition: opacity .5s;
    }
    
    .menu__item_active:after {
        position: absolute;
        display: block;
        content:'';
        left: 0;
        top: 9px;
        width: 100%;
        height: 3px;
        background: #0056EC;
        opacity: 0;
        transition: opacity .5s;
    }
    
    .menu__item:hover {
        opacity: 0.5;
    }
    
    .menu__item:hover:after, .menu__item_active:after{
        opacity: 1;
    }
    
    .main__title {
        margin: 0px -42px 42px -5px;
        font: bold 50px/66px 'pt_serifbold', arial, helvetica,sans-serif;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
    }

    .main__title:hover {
        font-size: 55px;
    }
    
    .main__subtitle {
        margin: 0px 0px 40px -4px;
        font: 18px/20px bold Roboto, arial, helvetica,sans-serif;
    }
    
    .main__button {
        font: 14px/16px Roboto,arial,helvetica,sans-serif;
        color: #fff;
        background: #0056EC;
        padding: 15px 17px;
    }
}

@media(min-width:1365px) {
    .wrapper {
        width: 69%;
    }
    
    .header {
        padding: 33px 0px;
        margin-bottom: 86px;
    }

    .menu__item {
        margin-right: 25px;
        font: 500 15px/17px bold Roboto,arial,helvetica, sans-serif;
        line-height: 0px;
    }
    
    .main {
        padding: 7px 63% 100px 3px;
        margin: 0px 0px 0px 0px;
    }
    
    .main__title {
        margin: 12px -50px 46px 0px;
        font: bold 50px/65px 'pt_serifbold', arial, helvetica,sans-serif;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
    }  

    .main__title:hover {
        font-size: 55px;
    }
    
    .main__subtitle {
        margin: -6px 0px 42px 0px;
        font: 18px/20px bold Roboto, arial, helvetica,sans-serif;
    }
    
    .main__button {
        font: 14px/16px Roboto,arial,helvetica,sans-serif;
        padding: 14px 15px;
    }
    
    .menu__item_active:after {
        position: absolute;
        display: block;
        content:'';
        left: 0;
        top: 7px;
        width: 100%;
        height: 3px;
        background: #0056EC;
        opacity: 0;
        transition: opacity .5s;
    }
    
    .menu__item:hover {
        opacity: 0.5;
    }
    
    .menu__item:hover:after, .menu__item_active:after{
        opacity: 1;
    }
}

@media(min-width:1920px) {
        .wrapper{
            width:80%;
        }
        .header {
            padding: 28px 0;
            margin-bottom: 140px;
        }
        .main {
            padding: 113px 50% 0 0;
            width:770px;
            height: 657px;
            background: top right no-repeat url(img/Frame1920.svg);
        }
    
        .main__title {
        margin: -37px 0 48px -8px;
        font: bold 66px/86px 'pt_serifbold', arial, helvetica,sans-serif;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        }

        .main__title:hover {
            font-size: 77px;
        }
    
        .main__subtitle{
            margin: -8px 320px 44px -5px;
            font: 22px/27px bold Roboto, arial, helvetica,sans-serif;
        }
    
        .main__button {
            font: 18px/22px Roboto,arial,helvetica,sans-serif;
            padding: 16px 23px;
        }
    
      .menu__item {
            font: 500 18px/9px bold Roboto,arial,helvetica, sans-serif;
            margin-right: 30px;
        }
        .menu__item_active:after {
            position: absolute;
            display: block;
            content:'';
            left: 0;
            top: 14px;
            width: 100%;
            height: 3px;
            background: #0056EC;
            opacity: 0;
            transition: opacity .5s;
        }
    }